/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-dark);
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: var(--transition-speed);
}
ul {
  list-style-type: none;
}

/* ===== VARIABLES ===== */
:root {
  --color-primary: #e74c3c;
  --color-secondary: #27ae60;
  --color-accent: #f1c40f;
  --color-dark: #1a1a1a;
  --color-light: #ffffff;
  --color-bg: #fdfdfd;

  --font-main: "Poppins", sans-serif;
  --font-heading: "Playfair Display", serif;

  --border-radius: 12px;
  --transition-speed: 0.3s;
  --container-width: 1400px;
   --transition: all 0.3s ease;
}

/* header*/
.main-header {
  background: var(--color-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-header .container {
  max-width: var(--container-width);
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-name {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  color: var(--color-dark);
}

.highlight {
  color: var(--color-primary);
}

/* menu*/
.nav-menu ul {
  display: none;
  list-style: none;
  gap: 30px;
}

.nav-menu a {
  color: var(--color-light);
  font-weight: 500;
}

.nav-menu a:hover {
  color: var(--color-secondary);
}

/* nav button */
.nav-btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-dark);
  border-radius: var(--border-radius);
}
.nav-btn i {
  color: #ffffff;
}

/* sidebar */
.sidebar {
  position: fixed;
  inset: 0;
  background: var(--color-primary);
  display: grid;
  place-content: center;
  transform: translateX(100%);
  transition: transform var(--transition);
  z-index: 9999;
}

.sidebar.show-sidebar {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  color: var(--color-light);
  cursor: pointer;
}

.sidebar-links {
  list-style: none;
  text-align: center;
}

.sidebar-links li {
  margin-bottom: 1.5rem;
}

.sidebar-links a {
  font-size: 1.5rem;
  color: var(--color-light);
}

.sidebar-links a:hover {
  color: var(--color-secondary);
}
.nav-actions-slide{
  display: block;
}
.btn-prenota-slide{
   background: var(--color-secondary);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition) ;
    border-radius: var(--border-radius);

}
.btn-prenota-slide:hover {
    background: var(--color-light);
    color: var(--color-secondary);
  }
.nav-actions {
  display: none;
}

/*  desktop  */
@media (min-width: 790px) {
  .nav-actions {
    display: block;
  }
  .btn-prenota {
    background: var(--color-secondary);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition) ;
  }

  .btn-prenota:hover {
    background: var(--color-light);
    color: var(--color-secondary);
  }
  .nav-btn {
    display: none;
  }

  .nav-menu ul {
    display: flex;
  }

  .sidebar {
    display: none;
  }
}
/********/
.sectio-mide1{
  background-color: #eee;
  height: 500px;
}



.ordinare {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background:  url('../img/immagine\ 29.png') no-repeat center center;
  background-size: cover;
  padding: 80px 20px;
  margin: 0 auto;
  color: var(--color-light);

}

.ordinare h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 10px;
  text-align: center;
}

.container-ordina {
  max-width: 600px; 
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.informazione label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

input, select {
  width: 100%;
  height: 45px; 
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: rgba(236, 232, 188, 0.9);
  color: #333;
  outline: none;
}

input:focus, select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 8px rgba(255, 152, 0, 0.5);
}

.flex {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  width: 100%;
}

.flex > div {
  flex: 1; 
}

.btn-aggiungi {
  width: 100%;
  height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.btn-aggiungi:hover {
  background-color:var(--color-secondary);
  transform: translateY(-2px);
  
}


#invoiceArea {
  background: white;
  color: #333;
  border-radius: 8px;
  padding: 0; 
  max-width: 500px;
  width: 90%;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: stretch;
  }
  
  .container {
    padding: 20px;
  }

  .ordinare h2 {
    font-size: 28px;
  }
}
.invoice-table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    color: #333;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.invoice-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.total-row {
    font-weight: bold;
    background: #f9f9f9;
}

.btn-final {
    background-color:var(--color-secondary); 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.btn-final:hover {
    background-color: var(--color-primary);
}

.form-card {
    
  
    padding: 30px;
  
    width: 100%;
    max-width: 500px;
}
/********/
/* 
/**************/






.footer-container {
  background-color: var(--color-primary); 
  color: white;
  padding: 40px 10%;
  font-family: sans-serif;
  line-height: 1.6;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-logo {
  width: 60px;
}

.brand-name {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-light);
}

.hours {
  margin-top: 15px;
  font-size: 14px;
}

.hours p {
  margin: 2px 0;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  align-self: center;
}

.footer-socials img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  font-size: 13px;
}

.legal-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.legal-links a {
  color: white;
  text-decoration: underline;
}
.copyright-section {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-socials {
    margin-top: 30px;
  }
}
